body {
  /* background-color: #EDEDED; */
  background: #e7e8e9
  font-family: Georgia, 'Times New Roman', Times, serif;
  width:100%;
  height:100%;
  color:black;
  font-weight:bold;
  animation: myanimation 20s infinite;
}

@keyframes myanimation {
  0% {background-color: #223E75;}
  25%{background-color: #6690A1;}
  50%{background-color: #AACCC9;}
  75%{background-color: #6690A1;}
  100% {background-color: #223E75;}
}
.clear {
  clear: both;
}
a {
  color: grey;
  text-decoration: none;
  background-color: transparent;
}
.nav {
  background-color: #fff;
  margin-bottom: 50px;
  padding-right: 30px;
  padding-bottom: 22px;
}
.white {
  background-color: #fff;
}
.navbar {
  padding: 0px 30px 0px 0px;
  margin-bottom: 50px;
}
.box {
  min-height: 50px;
  padding: 25px 20px 5px 20px;
  margin: 5px;
  /* color: #4CB2AC; */
  background-color: #fff;
  border-radius: 15px;
}
.left-align {float: left;}
.right-align {float: right;}

.active {
  background-color: #4CB2AC;
  overflow: hidden;
  font-size: 24px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-left: 100px;
  text-decoration: none;
}
a:hover .active {
  background-color: #ddd;
  color: blue;
  }
.navbar-brand {
  background-color: #003754;
  overflow: hidden;
  font-size: 24px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-left: 100px;
  text-decoration: none;
}
.navbar-light a.navbar-brand {
  color: #fff;
}
.navbar-light a:hover a.navbar-brand {
  color: #fff
}
p {
  /* color: #9EB4C7; */
  font-size: 16px;
}
.image1 {
  width: 100%;
  height: 300px;
  background-image: url('resources/assets/images/Fig1.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.image2 {
  width: 100%;
  height: 300px;
  background-image: url('resources/assets/images/Fig2.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.image3 {
  width: 100%;
  height: 300px;
  background-image: url('resources/assets/images/Fig3.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.image4 {
  width: 100%;
  height: 300px;
  background-image: url('resources/assets/images/Fig4.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.selected {
  border: 1px solid #4CB2AC;
}
#footer {
  /* position:fixed; */
  bottom:0;
  width:100%;
  height:40px;   /* Height of the footer */
  background-color:#003754;
  color: #fff;
  text-align: center;
  border-top-style: solid;
  border-top-color: #4CB2AC;
}
.tooltip {
  position: absolute;
  opacity: 0.9;
  width: 120px;
  height: 60px;
  padding: 5px;
  font: 12px sans-serif;
  text-align: center;
  color: white;
  background: black;
  border: 1px;
  border-radius: 5px; 
}

.aText {
  font-family: sans-serif;
  font-size: 16px;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #c9c9c9;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #000;
  cursor: pointer;
}

@media (max-width: 991px) {
  .bb-green {background-color: #808083;}
}
/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  height: 100%;
}

/* Palette generated by Material Palette - materialpalette.com/indigo/pink */
/* Base16 Atelier Sulphurpool Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/sulphurpool) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */
/* Atelier-Sulphurpool Comment */
.hljs-comment {
  color: #898ea4; }

/* Atelier-Sulphurpool Red */
.hljs-variable,
.hljs-tag,
.hljs-regexp,
.hljs-name,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: deepskyblue; }

.hljs-attribute {
  color: lightskyblue; }

/* Atelier-Sulphurpool Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #c76b29; }

/* Atelier-Sulphurpool Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #c08b30; }

/* Atelier-Sulphurpool Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: darkorange; }

/* Atelier-Sulphurpool Aqua */
.hljs-title,
.css .hljs-hexcolor {
  color: #22a2c9; }

/* Atelier-Sulphurpool Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #3d8fd1; }

/* Atelier-Sulphurpool Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #6679cc; }

.hljs {
  display: block;
  overflow-x: auto;
  background: #202746;
  color: #979db4;
  padding: 0.5em;
  -webkit-text-size-adjust: none; }

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5; }

 * Backgrounds
 */
.backgrounds {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  z-index: -1; }
  .backgrounds .background {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    background-attachment: fixed; }

.overlay:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #3F51B5;
  opacity: 0.8; }

/**
 * Hero
 */
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  color: #FFF;
  text-align: center; }

.hero-center {
  width: 100%;
  position: absolute;
  top: 40%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%); }

.hero__logo {
  font-size: 60px;
  color: rgba(0, 0, 0, 0.5); }

.hero__text {
  font-weight: normal;
  opacity: 0.8; }

.hero__scroll {
  position: absolute;
  bottom: 60px;
  width: 200px;
  margin: auto;
  display: block;
  cursor: pointer;
  padding-bottom: 40px;
  left: 0;
  right: 0;
  text-transform: uppercase; }
  .hero__scroll .chevron {
    margin-top: 20px;
    display: block;
    -webkit-animation: pulse 2s infinite;
            animation: pulse 2s infinite;
    color: #FF4081; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

.octocat {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 80px; }
  .octocat img {
    display: block;
    width: 100%; }

.chevron::before {
  border-style: solid;
  border-width: 0.25em 0.25em 0 0;
  content: '';
  display: inline-block;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  vertical-align: top;
  width: 20px; }

.chevron.right:before {
  left: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.chevron.bottom:before {
  top: 0;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.chevron.left:before {
  left: 0.25em;
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg); }

/**
 * Sections
 */
.section {
  width: 100%;
  float: left;
  overflow: hidden; }

.section-title {
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  font-weight: normal;
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  clear: both; }

.code {
  width: 40%;
  clear: both;
  height: 200px;
  background: #FFF;
  border-radius: 2px;
  margin: 12vh 0;
  padding: 10px; }
  .code pre, .code code {
    height: 100%;
    margin: 0; }
  .code code {
    padding: 20px 0 0 20px; }
  .code--small code {
    padding-top: 75px; }
  .code--left {
    float: left; }
  .code--right {
    float: right; }
  .code--wider {
    width: 60%; }
    .code--wider code {
      padding-top: 60px; }

.section--more {
  color: #FFF;
  background: #0E0F34;
  padding: 20px 0 40px 0; }

.section-group {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 30px 0; }
  .section-group h3 {
    margin: 0 0 20px 0;
    text-transform: uppercase; }
  .section-group h4 {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.6); }
  .section-group code {
    padding: 20px;
    font-size: 1.2em; }
  .section-group .btn {
    margin-right: 20px; }

.btn {
  padding: 10px 20px;
  border: 1px solid #FF4081;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
  overflow: hidden; }
  .btn:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 1px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #FF4081;
    -webkit-transition: -webkit-transform 0.2s ease;
            transition: transform 0.2s ease;
    z-index: 0;
    opacity: 0; }
  .btn span {
    position: relative;
    z-index: 5; }
  .btn:hover {
    color: #FFF; }
    .btn:hover:before {
      -webkit-transform: scaleX(200);
          -ms-transform: scaleX(200);
              transform: scaleX(200);
      opacity: 1; }